.google-map
  width: 80%
  height: 94vh
  position: absolute
  right: 0

.maps__btn
  height: 50px
  width: 100px
  background: #007c91
  color: #fff
  display: flex
  justify-content: center
  margin-right: 2px
  cursor: pointer

.maps__btn:hover
  background: #018991

.maps__btn span
  display: inherit
  text-align: center
  margin: auto

.maps__btn-cont
  display: flex
  position: absolute
  bottom: 0
